@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif, ITC Avant Garde Gothic STD, Raleway;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'itc';
  src: url(../public/fonts/ITCAvantGardeStd-Bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: 'raleway';
  src: url(../public/fonts/Raleway-Medium.ttf);
}
